/* *, *::after, *::before {
    box-sizing: border-box;
} */

.modal {
  color: #344563;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  z-index: 10;
  width: 315px;
  max-height: 85vh;
  min-width: 36%;
  background-color: #fff;
  transition: 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  justify-content: center;
  overflow-y: scroll;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  padding-bottom: 2rem;
}

.modal-title h2 {
  font-size: 25px;
  line-height: 44px;
  font-weight: 700;
}

.modal-title .close-btn {
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: hsl(212, 16%, 48%);
  cursor: pointer;
  margin-left: 2rem;
  opacity: 0.7;
}

.modal-text {
  padding: 1rem 0;
  font-size: 16px;
}

#overlay {
  opacity: 0;
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.snap img {
  width: 311px;
  height: 220px;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-right: 1.2rem;
}

.buttons button {
  line-height: normal;

  /* margin-right: 0.8rem; */
  padding: 8px 12px;
  font-size: 15px;
}

.buttons img {
  width: 20%;
}

.buttons .btn-container {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 374px) {
  .modal .row-skills ul {
    padding: 0.8rem 0;
  }

  .modal .row-skills li {
    padding: 10px 7px;
    margin-right: 0.3rem;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    overflow-x: hidden;
    width: 300px;
    min-width: 50%;
  }

  .modal-title h2 {
    font-size: 22px;
  }

  .snap img {
    width: 292px;
  }

  .modal-text {
    font-size: 14px;
  }

  .buttons {
    align-items: flex-start;
    justify-content: center;
  }

  .buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 800px;
    max-height: 100vh;
    max-width: 80%;
  }

  .container-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  /* .modal-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    } */

  .grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.9rem;
    font-size: 15px;
  }

  .snap img {
    width: 440px;
    height: 341px;
  }
}
