@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500&family=Meera+Inimai&family=Poppins&family=Roboto:wght@700&display=swap');

:root {
  --Dark-color: hsl(0, 2%, 24%);
  --Black-color: hsl(20, 6%, 10%);
  --White-color: hsl(0, 0%, 100%);
  --Orange-color: hsl(22, 100%, 48%);
  --Text-color: hsl(220, 16%, 96%);
  --Background-main: hsl(0, 0%, 100%);
  --Text-color-main: hsl(218, 76%, 15%);
  --Button-color-BG: rgba(255, 255, 255, 0.24);
  --typewriter: 3s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: var(--Text-color);
  overflow-x: hidden;
}

main {
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

#hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  --webkit-transition: all 0.3s eas-in-out;

  transition: all 0.3s eas-in-out;
  background-color: #fff;
}

#hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

a {
  color: var(--White-color);
  text-decoration: none;
}

nav a {
  transition: 0.5s;
}

nav a:hover {
  color: var(--Orange-color);
}

.social-icons ul li a:hover {
  color: var(--Orange-color);
}

#menu-link {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-color);
  transition: top 1s ease;
  display: none;
  width: 100%;
  padding-top: 3.4rem;
}

#menu-link a {
  margin: 0.6rem 0;
  padding-right: 2rem;
  padding-bottom: 0.7rem;
  width: 80%;
  font-size: 1.6rem;
  color: hsl(40, 100%, 94%);
  border-bottom: 1px solid hsl(15, 2%, 43%);
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: hsl(15, 2%, 43%);
  z-index: 30;
}

#close-btn.active {
  display: block;
  top: 20px;
  right: 23px;
  font-size: 1.2rem;
  font-weight: 600;
  position: fixed;
}

#menu-link a:hover {
  color: var(--Orange-color);
}

#menu-link.active {
  display: flex;
}

.navbar {
  background-color: var(--Dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.base {
  min-height: 100vh;
  overflow: hidden;
  padding: 4rem 1rem 2rem;
  background-color: var(--Black-color);
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 1.2rem;
}

.big-title {
  font-size: 3.5rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  color: var(--Orange-color);
}

.details h4 {
  margin: 1rem 0;
  color: hsl(40, 100%, 94%);
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.details p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.social-icons ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  width: 200px;
  height: 40px;
  position: relative;
}

.social-icons ul li i {
  width: 20px;
  height: 1.2rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  transition: 0.5s;
}

ul li {
  list-style-type: none;
}

.illustration img {
  position: absolute;
  float: right;
  width: 150px;
  top: 364px;
  right: 0;
}

.main {
  background-color: var(--Background-main);
  min-width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
}

.top-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.3;
  color: var(--Black-color);
}

.line {
  width: 80%;
  margin: 2.3rem;
  text-align: center;
  border: 0.5px solid #212121;
  opacity: 0.6;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--Text-color-main);
  margin: 2rem;
}

.card h2 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.37;
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
}

.card p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.row-skills ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
}

.row-skills li {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--Text-color-main);
  transition: 0.7s;
}

.desc p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0 1rem;
  letter-spacing: 0.05em;
}

.title-skill p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.9;
  display: flex;
  align-items: center;
}

.row-card-skills ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 1rem;
  border: none;
  transition: 0.7s;
}

.row-card-skills ul li {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 0.9rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
  transition: 0.7s;
}

.row-skills li:hover,
.row-card-skills li:hover {
  background: var(--Text-color-main);
  color: var(--White-color);
  cursor: pointer;
}

button {
  padding: 0.8rem 1.6rem;
  background-color: var(--Orange-color);
  color: var(--White-color);
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.03em;
  gap: 0.5rem;
  border: none;
  transition: 0.7s;
  cursor: pointer;
}

.btn {
  background-color: var(--Orange-color);
  color: var(--White-color);
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 100%;
  position: relative;
  transition: 0.7s;
}

button:hover,
.btn:hover {
  color: var(--Orange-color);
  background: hsl(40, 100%, 94%);
  border: 1px solid var(--Orange-color);
}

button:disabled,
.btn:disabled {
  background: hsl(15, 15%, 95%);
  color: var(--Dark-color);
}

button:active,
.btn:active {
  color: hsl(15, 15%, 95%);
}

.cards-container {
  margin: 1rem;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('images/Img\ Placeholder\ \(2\).png') no-repeat center center /cover;

  /* padding-top: 2rem; */
}

.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 2rem;
}

.active:hover > .btn-project {
  display: block;
  position: absolute;
  bottom: 0;
}

.active:hover > .cards-container-hidden {
  display: none;
}

.title-card {
  margin: 0 1rem;
  margin-top: auto;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}

.about {
  position: relative;
  margin-top: 3rem;
  padding-bottom: 4rem;
  max-height: 91vh;
}

.illustration-about img {
  position: absolute;
  float: right;
  width: 150px;
  top: 383px;
  right: 0;
}

.line-about {
  position: absolute;
  top: 643px;
  text-align: center;
  width: 85%;
}

.title-about {
  border: none;
}

.columns {
  background: var(--Black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}

.skills-column ul {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.title-skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title-skill img {
  display: flex;
  align-items: center;
}

.rectangle img {
  width: 10%;
}

.title-skill h4 {
  margin: 1.2rem 0;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.form {
  min-height: 100vh;
  background-color: var(--White-color);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  width: 100%;
  color: var(--Text-color-main);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.37;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2.1rem;
}

input[type=text],
input[type=email] {
  border: none;
  outline: none;
  min-width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6;
  display: flex;
  align-items: center;
  color: hsl(15, 2%, 58%);
  background-color: var(--White-color);
  margin-bottom: 2rem;
  border-bottom: 1px solid #979493;
}

.form-input textarea {
  border: none;
  outline: none;
  margin: 0.2rem;
  padding: 0.7rem;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6;
  font-style: italic;
  color: var(--Dark-color);
  background: hsl(15, 33%, 98%);
  border-radius: 0.5rem;
  min-width: 97%;
}

.btn-form {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-page {
  background-color: var(--White-color);
  margin: 5rem 0 1rem;
  border-top: 1px solid var(--Dark-color);
  width: 100%;
}

.social-icons-footer ul {
  margin: 1rem auto;
  color: var(--Black-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  /* margin-left: 4rem; */
}

.social-icons-footer ul li i {
  color: hsl(218, 20%, 39%);
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.5s;
}

.social-icons-footer ul li i:hover {
  color: var(--Orange-color);
}

.line-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid hsl(212, 40%, 8%);
  border-radius: 30px;
  width: 50%;
  margin: 0 auto;
}

h1 {
  position: relative;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
}

h1::before {
  background-color: var(--Black-color);
  animation: typewriter var(--typewriter) steps(10) 1s forwards;
}

h1::after {
  width: 0.125em;
  background-color: var(--Orange-color);
  animation: typewriter var(--typewriter) steps(10) 1s forwards, blink 750ms steps(10) infinite;
}

div #error {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: red;
  top: -35px;
  transition: 0.5s;
}

@keyframes typewriter {
  to {
    left: 83%;
  }
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}

.details h4,
.details p,
.social-icons {
  opacity: 0;
  transform: translateY(3rem);
  animation: appearing 2s ease calc(var(--typewriter) + 2s) forwards;
}

@keyframes appearing {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media query for the mobile version max-width:374 */

@media screen and (max-width: 374px) {
  body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main {
    width: 100%;
    overflow-x: hidden;
  }

  .big-title {
    font-size: 2.5rem;
  }

  .illustration img {
    top: 315px;
  }

  .form-title {
    font-size: 1.1rem;
  }

  .line-foot {
    margin-bottom: 1.2rem;
  }

  .top-title {
    font-size: 1.2rem;
    margin: 1rem;
  }

  .title-skill p {
    font-size: 1.1rem;
  }

  .row-skills li {
    margin-right: 0.7rem;
    text-align: center;
  }

  .card {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .text-container-row {
    margin: 2rem 1.8rem;
  }

  .card h2 {
    font-size: 1.7rem;
    margin: 0.7rem 1.3rem;
  }

  .card p {
    font-size: 0.9rem;
    margin: 0 1.3rem;
  }

  .img-desktop img {
    width: 70%;
    margin-left: 58px;
  }

  .row-skills ul {
    padding: 10px 1.2rem;
  }

  .btn-container {
    margin: 0 1.2rem;
  }

  input[type=text],
  input[type=email] {
    min-width: 85%;
  }

  .form-input textarea {
    min-width: 85%;
  }

  @keyframes typewriter {
    to {
      left: 75%;
    }
  }
}

@media screen and (max-width: 324px) {
  @keyframes typewriter {
    to {
      left: 83%;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
    font-size: 15px;
  }

  main {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }

  #hamburger {
    display: none;
  }

  .logo {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
  }

  .icon {
    margin: 0 2rem;
  }

  .navlink {
    display: flex;
    justify-content: space-between;
  }

  .navlink a {
    margin-right: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
  }

  .navlink a i {
    font-size: 1rem;
  }

  .hidden {
    display: block;
  }

  .mobile {
    display: none;
  }

  .base {
    padding: 4rem 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: auto;
  }

  .title h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-top: 3rem;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    order: -1;
  }

  .social-icons ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills-column li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .social-icons ul li {
    padding-top: 0.9rem;
  }

  .details h4 {
    font-size: 2rem;
    line-height: 1.37;
  }

  .details p {
    max-width: 50%;
    min-height: 70%;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .illustration img {
    position: absolute;
    min-width: 33%;
    right: 0;
    top: 133px;
  }

  .my-work {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-work h2 {
    color: var(--Text-color-main);
    padding-left: 5rem;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .line {
    width: 50%;
    margin: 2rem 1rem;
  }

  .card-container-row {
    margin: 2rem 8rem 0;
    min-width: 50%;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 0.8rem;
  }

  .image-bg img {
    width: 550px;
  }

  .text-container-row {
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .text-container-row h2 {
    font-size: 2.3rem;
    line-height: 1.3;
  }

  .text-container-row p {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 8.938rem 8.125rem 8.938rem;
  }

  .card-container {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .card h2 {
    margin: 0 0 1.3rem;
  }

  .projects-1 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url('images/Img\ Placeholder\ \(2\).png') no-repeat center center /cover;
    align-items: center;
    justify-content: center;
    height: 435px;
    transition: 0.9s;
    margin: 0 0.9rem;
    position: relative;
  }

  .projects-1:hover {
    background: url('images/Img\ Placeholder\ \(2\).png') no-repeat center center /cover;
  }

  .projects-2 {
    background: url('images/Img\ Placeholder\ \(3\).png') no-repeat center center /cover;
    align-items: center;
    justify-content: center;
    height: 435px;
    transition: 0.9s;
    margin: 0 0.9rem;
    position: relative;
  }

  .projects-3 {
    background: url('images/Img\ Placeholder\ \(4\).png') no-repeat center center /cover;
    align-items: center;
    justify-content: center;
    height: 435px;
    transition: 0.9s;
    margin: 0 0.9rem;
    position: relative;
  }

  .title-card {
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
    opacity: 1;
  }

  .desc p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.05em;
  }

  .row-card-skills .unique {
    margin-top: 4rem;
  }

  .btn-project {
    min-width: 100%;
    display: none;
  }

  .about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
    padding: 4rem 8rem 13rem;
    max-height: 110vh;
  }

  .line-about {
    display: none;
  }

  .title-about {
    border-bottom: 2px solid #fff;
    padding-bottom: 8rem;
  }

  .big-title-about {
    margin: 2rem 0;
    font-size: 4.5;
    line-height: 1.13;
    width: 566px;
    height: 78px;
  }

  .illustration-about img {
    position: absolute;
    min-width: 35%;
    right: 0;
    top: 223px;
  }

  .columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -1rem;
    padding-top: 1rem;
  }

  .columns .skills-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12rem;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 6rem 8rem;
  }

  .form-title h2 {
    min-width: 455px;
    height: 256px;
    color: hsl(0, 0%, 15%);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 2rem 5.5rem 0;
    text-align: start;
  }

  .fullname {
    display: flex;
    flex-direction: row;
    max-width: 50%;
  }

  input[type=text] {
    max-width: 60%;
    padding: 0.5rem;
    margin-right: 15rem;
  }

  input[type=email] {
    padding: 1rem;
    min-width: 100%;
  }

  .form-input textarea {
    min-width: 100%;
    padding: 1rem;
  }

  .btn-form-desktop {
    margin: 0.9rem 0;
  }

  .footer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-icons-footer {
    text-align: center;
    height: 75px;
  }

  .line-foot {
    display: none;
  }

  @keyframes typewriter {
    to {
      left: 35%;
    }
  }
}

@media screen and (max-width: 1581) and (min-width: 1180px) {
  body {
    font-size: 16px;
  }

  .columns .skills-column {
    gap: 6rem;
  }

  .about {
    padding: 4rem 8rem 14rem;
  }

  .title-about {
    padding-bottom: 10rem;
  }

  .columns {
    padding-top: 2rem;
  }

  .projects-1 {
    margin: 0 2rem;
  }

  .projects-2 {
    margin: 0 2rem;
  }

  .social-icons-footer {
    height: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
  body {
    font-size: 15px;
  }

  .base {
    padding: 1rem;
  }

  .title h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .columns .skills-column {
    gap: 3rem;
  }

  .image-bg img {
    width: 427px;
  }

  .text-container-row {
    margin-bottom: 4.5rem;
  }

  .card h2 {
    margin: 0 0 1.3rem;
  }

  .text-container-row p {
    margin: 0;
  }

  .about {
    padding: 7rem;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }

  .form-title h2 {
    min-width: 260px;
    font-size: 2rem;
    line-height: 1.4;
  }

  .footer-page {
    margin: 0;
    padding: 0;
  }

  .social-icons-footer {
    height: 95px;
  }

  @keyframes typewriter {
    to {
      left: 55%;
    }
  }
}

@media screen and (min-width: 967px) and (max-width: 994px) {
  .about {
    padding-bottom: 8rem;
  }
}
