@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500&family=Meera+Inimai&family=Poppins&family=Roboto:wght@700&display=swap');

:root {
  --Dark-color: hsl(0, 2%, 24%);
  --Black-color: hsl(20, 6%, 10%);
  --White-color: hsl(0, 0%, 100%);
  --Orange-color: hsl(22, 100%, 48%);
  --Text-color: hsl(220, 16%, 96%);
  --Background-main: hsl(0, 0%, 90%);
  --Text-color-main: hsl(218, 76%, 15%);
  --Button-color-BG: rgba(255, 255, 255, 0.24);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.hiden {
  display: none;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--Text-color);
}

.navbar {
  background-color: var(--Dark-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.base {
  min-height: 100vh;
  overflow: hidden;
  padding: min(3.5rem, 3.9rem);
  background-color: var(--Black-color);
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 1.2rem;
}

.big-title {
  font-size: 3.5rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  color: var(--Orange-color);
}

.details h4 {
  margin: 1rem 0;
  color: hsl(40, 100%, 94%);
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.details p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.social-icons ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0;
  width: 200px;
  height: 40px;
  position: relative;
}

.social-icons ul li i {
  width: 20px;
  height: 1.2rem;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

ul li {
  list-style-type: none;
}

.illustration img {
  position: absolute;
  float: right;
  width: 150px;
  top: 490px;
  right: 0;
}

a {
  color: var(--White-color);
  text-decoration: none;
}

.main {
  background-color: var(--Background-main);
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
}

.top-title {
  display: flex;
  align-items: center;
  margin: 2.5rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.3;
  color: var(--Black-color);
}

.line {
  width: 80%;
  margin: 2.3rem;
  text-align: center;
  border: 0.5px solid #212121;
  opacity: 0.6;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--Text-color-main);
  margin: 2rem;
}

.card h2 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.37;
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
}

.card p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
}

.row-skills ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
}

.row-skills li {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--Text-color-main);
  transition: 0.7s;
}

.desc p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 2rem;
  letter-spacing: 0.05em;
}

.title-skill p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.9;
  display: flex;
  align-items: center;
}

.row-card-skills ul {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 1rem;
  border: none;
  transition: 0.7s;
}

.row-card-skills ul li {
  padding: 0.7rem;
  margin: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.24);
  transition: 0.7s;
}

.row-skills li:hover,
.row-card-skills li:hover {
  background: var(--Text-color-main);
  color: var(--White-color);
  cursor: pointer;
}

button {
  padding: 0.8rem 1.6rem;
  background-color: var(--Orange-color);
  color: var(--White-color);
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.03em;
  gap: 0.5rem;
  border: none;
  transition: 0.7s;
}

.btn {
  background-color: var(--Orange-color);
  color: var(--White-color);
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-width: 82.2%;
  height: 48px;
  margin: 0 2rem 2rem;
  transition: 0.7s;
}

button:hover,
.btn:hover {
  color: var(--Orange-color);
  background: hsl(40, 100%, 94%);
  border: 1px solid var(--Orange-color);
}

button:disabled,
.btn:disabled {
  background: hsl(15, 15%, 95%);
  color: var(--Dark-color);
}

button:active,
.btn:active {
  color: hsl(15, 15%, 95%);
}

.cards-container {
  margin: 2rem 2rem 0;
  min-height: 50vh;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/Img\ Placeholder@2x.png) no-repeat center /cover;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.title-card {
  margin: 5rem 2rem 2rem;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 1.5;
}

.about {
  position: relative;
  margin-top: 3rem;
  padding-bottom: 10rem;
  min-height: 100vh;
}

.big-title-about {
  margin: 2rem 0;
}

.illustration-about img {
  position: absolute;
  float: right;
  width: 150px;
  top: 500px;
  right: 0;
}

.line-about {
  position: absolute;
  top: 750px;
  text-align: center;
  width: 80%;
}

.columns {
  min-height: 100vh;
  padding-top: 5rem;
  background: var(--Black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-column ul {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.title-skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.title-skill img {
  display: flex;
  align-items: center;
}

.title-skill h4 {
  margin: 1.2rem 0;
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.form {
  min-height: 100vh;
  background-color: var(--White-color);
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  width: 100%;
  color: var(--Text-color-main);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.37;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2.1rem;
}

.form-input input {
  outline: none;
  border: none;
  margin: 0.2rem;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6;
  display: flex;
  align-items: center;
  color: #979493;
}

.line-form {
  border: 1px solid #979493;
  margin-bottom: 2rem;
  opacity: 0.6;
}

.form-input textarea {
  border: none;
  outline: none;
  margin: 0.2rem;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6;
  font-style: italic;
  color: var(--Dark-color);
  background: hsl(15, 33%, 98%);
  border-radius: 0.5rem;
}

.btn-form {
  margin: 1.5rem 0 4rem 6rem;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-page {
  min-height: 30vh;
  background-color: var(--White-color);
  padding-top: 3rem;
  margin: 5rem 0;
  border-top: 1px solid var(--Dark-color);
  width: 100%;
}

.social-icons-footer ul {
  margin: 3rem 2rem;
  color: var(--Black-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-left: 4rem;
}

.social-icons-footer ul li i {
  color: hsl(218, 20%, 39%);
  border-radius: 50%;
  font-size: 1.5rem;
}

.line-foot {
  padding-bottom: 3rem;
  margin: 4.5rem;
  border-bottom: 5px solid hsl(212, 40%, 8%);
  border-radius: 10px;
  text-align: center;
  width: 60%;
}
